<!-- contact section start -->
<div class="contact_section layout_padding">
  <div class="container">
    <div class="contact_main">
      <h1 class="request_text">A Call Back</h1>

      <form id="contactForm" action="./liveBackend/rest/add_contact.php" method="post">
        <div class="form-group">
          <input type="text" class="email-bt" placeholder="Name" id="name" name="Name">
        </div>
        <div class="form-group">
          <input type="email" class="email-bt" placeholder="Email" id="email" name="Email" required>
      
          <span id="emailError" style="color: red;"></span>
        </div>
        <div class="form-group">
          <input type="number" class="email-bt" placeholder="Phone Number" id="phone" name="Number">
        </div>
        <div class="form-group">
          <textarea class="massage-bt" placeholder="Message" rows="5" id="message" name="Message"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" class="send_bt">
        </div>
      </form>

    </div>
  </div>
</div>

 <!-- contact section end -->
 
 <script>
   
$(document).ready(function () {
    $('#contactForm').submit(function (e) {
        e.preventDefault();

        // Get the values of the form fields
        var name = $('#name').val();
        var email = $('#email').val();
        var phone = $('#phone').val();
        var message = $('#message').val();

       
        $.ajax({
            url: './liveBackend/rest/add_contact.php',
            type: 'POST',
            data: { Name: name, Email: email, Number: phone, Message: message },
            dataType: 'json',
            success: function (data) {
                
                console.log(data);
                alert('Message sent!');
            },
            error: function (xhr, status, error) {
                
                console.error('Error sending message:', error);
            }
        });
    });
});


 </script>
